services:
  webscreen:
    build: .
    container_name: webscreen-service
    ports:
      - "8079:8079"
    privileged: true
    volumes:
      - /dev/bus/usb:/dev/bus/usb
    environment:
      - GIN_MODE=release
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"