services:
  webscreen:
    build: .
    container_name: webscreen-service
    network_mode: "host"
    privileged: true
    volumes:
      - /dev/bus/usb:/dev/bus/usb
    environment:
      - GIN_MODE=release
      - PORT=8079
      - PIN=123456
    restart: unless-stopped
